{% extends "python_code_task/base.html" %}

{% block title %}User detail{% endblock %}

{% block content %}

<p>
    Username: <strong>{{ object.username }}</strong>
</p>
<p>
    Birth date: <strong>{{ object.birth_date|date:'m/d/Y' }}</strong>
</p>
<p>
    Eligible: <strong>{{ object.is_allowed }}</strong>
</p>
<p>
    Random number: <strong>{{ object.random_value }}</strong>
</p>
<p>
    BizzFuzz: <strong>{{ object.bizzfuzz }}</strong>
</p>
<p>
    <a href="{% url 'application_user_update' object.id %}"><button>Update</button></a>
    <a href="{% url 'application_user_delete' object.id %}"><button>Delete</button></a>
    <a href="{% url 'application_user_list' %}"><button>Back to list</button></a>
</p>

{% endblock %}
