{% extends "python_code_task/base.html" %}

{% block title %}Delete User{% endblock %}

{% block content %}
<p>
    Are you sure you want to delete the user?
</p>
<p>
    <form action="{% url "application_user_delete" object.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-success" />
        <a href="{% url "application_user_detail" object.id %}">No, cancel</a>
    </form>
</p>
{% endblock %}
