{% extends "python_code_task/base.html" %}

{% load application_tags %}

{% block title %}List of users{% endblock %}

{% block active_list %}active{% endblock %}

{% block content %}

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Birth date
        </th>
        <th>
            Eligible
        </th>
        <th>
            Random number
        </th>
        <th>
            BizzFuzz
        </th>
    </tr>

    {% for user in object_list %}
    <tr>
        <td><a href="{% url 'application_user_detail' user.id %}">{{ user.username }}</a></td>
        <td>{{ user.birth_date|date:"d/m/Y" }}</td>
        <td>{% allowed user.is_allowed %}</td>
        <td>{{ user.random_value }}</td>
        <td>{% bizzfuzz user.id %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
