{% extends "python_code_task/base.html" %}

{% block title %}Create user Details{% endblock %}

{% block content %}

{% if object %}
<form action="{% url 'application_user_update' object.id %}" role="form" method="post">
{% else %}
<form action="{% url 'application_user_create' %}" role="form" method="post">
{% endif %}

{% csrf_token %}
    <div class="form-group">

        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label_tag }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="alert alert-warning">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}

        </div>
        {% endfor %}

    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-success" />
        <input type="reset" value="Reset" class="btn btn-warning">
    </div>
</form>

{% endblock %}
